<div>
    <table class="advertisement">
        <tr>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
            <td class="adcontainer" ></td>
           
        </tr>
        
    </table> 

    
</div>


<hr>
<section class="path"> FORBES > LEADERSHIP </section>
<hr>
<h1>Leadership</h1>
<hr>

    <div class="container">
        <div class="leftSection">
            <img class= "img1" [src]="pic1"><br>
            <p class="prim">PREMIUM</p>
            <a href=""><b class="Ancar-title">Commerce Leaders Put Child Care Center Stage—The Same Day It Gets Sidelined At Presidential Debate</b></a>
            
         </div>
         <div class="rightSection">
            <img class= "img2" [src]="pic2"><br>
            <a href=""><b class="Ancar-title">A Noisy Office Is A Nuisance And A Business Opportunity</b></a>
            <p class="by"> By <a href=""> Jena McGregor </a>Forbes Staff</p>
        </div>
    </div>
    <hr>
    <div class= "undersection">
        <table>
            <tr>
                <td>
                    <img class ="img3" [src]="pic3" ><br>
                    <a href=""><b class="Ancar-title"> Some Bosses Admit Office Mandates Have A Goal Of Making People Quit: Survey </b></a>
                    <p class="by"> By <a href="">David Parker</a> Contributor</p>
                </td>
                <td >
                    <img class="img3" [src]="pic4"><br>
                    <a href=""><b class="Ancar-title">The First $100 Billion Woman. Plus: How A Former Public School Teacher Built </b></a>
                    <p class="by"> By <a href="">Nina Bambysheva</a> Forbes Staff</p>
                </td>
                <td>
                    <img class= "img3" [src]="pic5"><br>
                    <a href="" ><b class="Ancar-title"> This New Hybrid Work Study Could Help Reconcile The War Over Work From </b></a>
                    <p class="by"> By <a href="">Frank Sorrentino</a> Contributor</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img class= "img6" [src]="pic6"><br>
                    <a href="" ><b class="Ancar-title"> She Pivoted A Business Model. Now This Retailer Profits From Uplifting Solopreneurs</b></a>
                    <p class="by"> By <a href="">Frank Sorrentino</a> Contributor</p>
                </td>
                <td>
                    <img class= "img6" [src]="pic7"><br>
                    <a href="" ><b class="Ancar-title"> This New Hybrid Work Study Could Help Reconcile The War Over Work From Home</b></a>
                    <p class="by"> By <a href="">Frank Sorrentino</a> Contributor</p>
                </td>
                <td>
                    <img class= "img6" [src]="pic8"><br>
                    <a href="" ><b class="Ancar-title"> This New Hybrid Work Study Could Help Reconcile The War Over Work From Home</b></a>
                    <p class="by"> By <a href="">Frank Sorrentino</a> Contributor</p>
                </td>


            </tr>
        </table>
    
    </div>
    





















