.myNav {
  display: flex;
  height: 60px;
  line-height: 50px;
  background-color: #181716;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.forbes a {
  color: white;
  text-decoration: none;
}


.forbes{
  color: white;
  font-size: 38px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 550;
  margin-left: 46%;
  margin-top: 2px;
  letter-spacing: -1px;

}

.subbutton a {
  color: white;
  text-decoration: none;
}

.subbutton{
  align-items: center;
    align-self: center;
    background-color: #dc0000;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font: 600 15px / 16px Work Sans, sans-serif;
    height: 39px;
    width: 200px;
    justify-content: center;
    letter-spacing: -.2px;
    margin-right: 16px;
    outline: none;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    margin-left:23%;
}

.subbutton:hover {
  opacity: 0.9;
}



.singinbutton{
  width: 75px;
  color: white;
  background-color: transparent;
  font: 14px Work Sans, sans-serif;
  margin-left: 10pxpx;
  cursor: pointer;
  border: 0;
}
.singinbutton:hover {
  text-decoration: underline;
}


.searchbutton {
  width: 48px;
  height: 48px;
  margin-top: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbutton i {
  color: white;
  font-size: 20px;
}



