h4{
    text-align: center;
}

.sec1{
    background-color: rgb(216, 242, 233);
    width: 100%;
   
}

.head{
    font-size: 30px;
    text-align: center;
}

.sec2{

    
    background-color: rgb(216, 242, 233);
    width: 100%;

}


.button-container {
    text-align: center; /* Center the button horizontally */
    margin: 20px 0; /* Add vertical spacing */
    gap: 10px;
    display: flex;
        justify-content: center;
        align-items: center;
  }
  
  .button-container button {
    background-color: #333; /* Dark gray background */
    color: white; /* White text */
    border: none; /* Remove default borders */
    padding: 10px 20px; /* Padding for button size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor change on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    gap: 10px;
    align-items: center;
    
  }
  
  .button-container button:hover {
    background-color: #555; /* Slightly lighter gray on hover */
  }
  
  .button-container button:active {
    background-color: #222; /* Darker gray when clicked */
  }


  .link{
    color: #2c2b2b;
    text-align: center;
  }


  .lasttxt{
    text-align: center;
  }


  @media (min-width: 600px) {
    .header, .footer {
        padding: 40px;
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header, .content, .footer {
        padding: 60px;
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .header, .footer {
        padding: 80px;
        width: 32%;
    }
    .content {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}


