<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fabes</title>
    
</head>
<body>

    <section class="sec1">
   
<div>
    <img src="https://images.forbes.com/Frase-New/Tiles-New-Optimized.png">
</div>



   <h4> By <b>Forbes</b> TM </h4>
   
   

<section class="sec2">
<h2 class="head"> The Anagram <br>
    To Reveal The Phrase. </h2>
</section>
    

<section class="button-container">
    <a href="#">
      <button>Sign In</button>
</a>




    <a href="#">
      <button >Play Now</button>
    </a>
  </section>


  <p  class="link"><a href="#" class="link" >TODAY'S HINT</a></p>

   <h3 class="lasttxt" >Unlock The Games<br>  You Missed This Week</h3>


   <section class="button-container">
    <a href="#">
      <button>Sign In</button>
</a>




    <a href="#">
      <button >Play Now</button>
    </a>
  </section>

  <div><br><br></div>


  </section>

</body>
</html>

<!--



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Mode Page</title>
    
</head>
<body>
    <section class="sec1">
        <div>
            <img src="https://images.forbes.com/Frase-New/Tiles-New-Optimized.png" alt="Forbes Logo">
        </div>
        <h4>By <b>Forbes</b> TM</h4>
        <section class="sec2">
            <h2 class="head">The Anagram <br> To Reveal The Phrase.</h2>
        </section>
        <section class="button-container">
            <a href="#">
                <button>Sign In</button>
            </a>
            <a href="#">
                <button>Play Now</button>
            </a>
        </section>
        <p class="link"><a href="#" class="link">TODAY'S HINT</a></p>
        <h3 class="lasttxt">Unlock The Games<br> You Missed This Week</h3>
        <section class="button-container">
            <a href="#">
                <button>Sign In</button>
            </a>
            <a href="#">
                <button>Play Now</button>
            </a>
        </section>
    </section>
</body>
</html>

-->