body{
    margin: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

div ul{
   
    color: rgb(0, 234, 255);
    cursor: pointer;
    display: inline;
    /* justify-items: right; */
    margin-right: 2%;
    margin-left: 0.0em;
    


}

div ul:hover{
    text-decoration: underline;

}

.button{
    background-color: white;
    border: none;
    padding: 1.3em;
    font-weight: bold;
    /* text-align: center; */
    /* margin-right: 1%; */
    /* width: 3px; */
    /* height: 3px; */
    margin-top: 6%;


}
.button:hover{ 
    transition-duration: 1s;
    background-color: rgb(1, 94, 255);
    border-radius:  23%;
    color: white;
    /* padding: 1.9em; */
    cursor: pointer;
    background-position: 1.5em;
    backdrop-filter: initial;
    /* width: 4px; */
    /* height: 2px; */
    /* border-bottom: 5em; */
    

} 
.set{

    display: inline;
}

.left{
    border-radius: 50%;
    border: none;
    padding: 0.9em;
    
}

.left:hover{

    transition-duration: 1s;
    /* border-radius: 34%; */
    background-color: rgb(44, 122, 255);
    color: white;
    padding: 0.4em;
    cursor: pointer;
}


.right{

    border-radius: 50%;
    border: none;
    padding: 0.4em
   

}

.right:hover{
    
    transition-duration: 1s;
    /* border-radius: 34%; */
    background-color: rgb(44, 122, 255);
    color: white;
    padding: 0.9em;
    cursor: pointer;

}


























































