<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<h6>ADVERTISMENT</h6>
<hr>
<section class="path"> FORBES > LIFESTYLE > ARTS </section>
<hr>
<div class="mainSection">
    <h1>Arts </h1>
    <hr>
    <div class="leftSection"> 
        <a href="" class="upButtons"> Editor's Picks </a> <a href="" style="margin-left: 10%;" class="upButtons"> Latest </a>
        <p class="prim">PERMIUM</p>
        <a href="">How Mike Will Made-It Is Making It In Business</a>
        <p class="by"> By <a href="">Jabari YoungForbes Staff</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">A $40 Million Batman Shopping Experience Lets Superfans Buy Bruce..</a>
        <p class="by"> By <a href="">Simone Melvin</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">AI Photo Contest Winner Disqualified Because It’s Real</a>
        <p class="by"> By <a href="">ELeslie Katz</a> Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">‘The Acolyte’ Episode 3 Controversy, Explained</a>
        <p class="by"> By <a href="">Dani Di Placido</a> Senior Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">The Beaches Of D-Day: Photographer Olivier Morin’s Extraordinary Portfolio Of</a>
        <p class="by"> By <a href="">Guy Martin</a>Senior Contributor </p>
        <hr>        
    </div>

    <div class="midSection">
        <img [src]="bodyImageURL"><br><br>
        <a href="" class="Ancar-title1"> Inside New York's New Banksy Museum </a>
        <p class="by"> By <a href=""> Michael Abbott </a>Contributor</p>
        <p class="discription">Based in Lower Manhattan, the ongoing exhibition will not only feature replicas of the anonymous street artist's work but also highlight his connection to the city
        </p>
    </div>

    <!--my -->
    <br>
    <div>
        <br><br>
        <table>
            <tr>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/665a2c75b207a14330f31cef/0x0.jpg?format=jpg" class="image" /></td>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/665a2d04b207a14330f31cf1/0x0.jpg?format=jpg" class="image" /></td>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/665a2d1c3507d44f1d11b947/0x0.jpg?format=jpg" class="image" /></td>
            </tr>
          
          
        
        <tr><td><a href="#">Wynton Marsalis On Music Education</a></td>
        <td><a href="#">Duke Ellington And More</a></td>
        <td><a href="#">20th BMW Art Car</a></td></tr>
        
        
        
        <tr><td class="by">By <a href="#"> Steve Baltin </a> Senior Contributor</td>
        <td class="by">By <a href="#"> Leslie Katz </a>Contributor</td>
        <td class="by">By <a href="#" >Nargess Banks </a>Senior Contributor </td></tr>
        
      
        </table>


        <div>
            <br><br>
        <h3 class="more">More From Arts </h3>
        <hr>
        </div>
        
    
    <div>
        <table class="clean-table">
            <tr>
              
              <td class="text">
                <p class="by">6 hours ago</p>
                <h3>Visual Inequality: The Tension Between Public Art And Advertising</h3>
                <p>The tensions and asymmetrical dynamics between art and advertising in public spaces amplifies the economic and social inequities at play.
                 <br><br><p><span class="by">By </span><a href="#">Rebekah Bastian</a> Contributor<br><br>
                  <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS">
              </td> 
            
              <td rowspan="2" class="image-cell">
                <img src="https://imageio.forbes.com/specials-images/imageserve/6683d9bae3d2c3421e04be42/0x0.jpg?format=jpg&width=440" class="image2">

              </td>
            </tr>
            <tr>
              
              <!--<td>By Jeryl Brunner Contributor</td>-->
            </tr>
          </table>
        </div>
<hr>
        <div>
            <table class="clean-table">
                <tr>
                  <td class="text">
                    <p class="by">8 hours ago</p>
                  <h3>  Singer Jewel Enters The Art World With The Portal At Crystal Bridges</h3>
<p>Jewel may be famous for Pieces of Me, but what is she doing now? Creating space for others through art and wellness.</p>
<br>
<p><span class="by">By</span><a href="#"> Alexandra Bregman </a> Contributor
  <br><br>
  <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS">               
                  </td> 
                
                  <td rowspan="2" class="image-cell">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/6684c3491bec9b1e3cd41fba/0x0.jpg?format=jpg&crop=857,482,x0,y178,safe&width=440" class="image2">
    
                  </td>
                </tr>
                <tr>
                  
                  <!--<td>By Jeryl Brunner Contributor</td>-->
                </tr>
              </table>

            </div>

<hr>

            <div>
                <table class="clean-table">
                    <tr>
                      <td class="text">
                        <p class="by">9 hours ago</p>
                        <h3>She Found Her Distinct Voice Portraying Nearly 20 Characters In The Play ‘Home’</h3>
                        <p>  Brittany Inge makes her Broadway debut in Samm-Art Williams’ classic play at Roundabout Theatre Company</p>
                         <br> 
                         <p> <span class="by">By</span><a href="#"> Jeryl Brunner</a> Contributor</p>
                         <br><br>
                         <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS">                     
                      </td> 
                    
                      <td rowspan="2" class="image-cell">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/668459f6a98d9d29e660a79b/0x0.jpg?format=jpg&width=440" class="image2">
        
                      </td>
                    </tr>
                    <tr>
                      
                      <!--<td>By Jeryl Brunner Contributor</td>-->
                    </tr>
                  </table>
    
                </div>



<hr>

<div>
                <table class="clean-table">
                    <tr>
                      <td class="text">
                        <p class="by">10 hours ago</p>
                        <h3>Vayder Hires Celebrity Fashion Designer Chaz Jordan As Creative Advisor</h3>
                      <p>  Jordan is known for his luxurious and culturally resonant designs, introducing his inaugural collection for Vayder during an intimate unveiling at Paris Fashion Week.</p>
                       <br> 
                       <p> <span class="by">By</span><a href="#"> Cassell Ferere </a> Contributor </p>
                        <br><br>
                        <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td>
                      <td rowspan="2" class="image-cell">
                        <img src="https://imageio.forbes.com/specials-images/imageserve/668439f239604f327462b25e/0x0.jpg?format=jpg&width=440" class="image2">
        
                      </td>
                    </tr>
                    <tr>
                      
                      <!--<td>By Jeryl Brunner Contributor</td>-->
                    </tr>
                  </table>
    
                </div>

<hr>
                <div>
                    <table class="clean-table">
                        <tr>
                          <p class="by">12 hours ago</p>
                          <td class="text"><h3>Taylor Swift Exhibition To Open At London’s V&A Museum</h3>
                            <p>Taylor Swift | Songbook Trail will run from July 27 through September 8 and will take Swifties on a journey through the singer's childhood and career.
                            <br>
                           <p><span class="by">By </span><a href="#">Emma Kershaw </a>Contributor
                            <br><br>
                            <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td> 
                        
                          <td rowspan="2" class="image-cell">
                            <img src="https://imageio.forbes.com/specials-images/imageserve/66842e472bf3e0ebb6d62ff1/0x0.jpg?format=jpg&width=440" class="image2">
            
                          </td>
                        </tr>
                        <tr>
                          
                          <!--<td>By Jeryl Brunner Contributor</td>-->
                        </tr>
                      </table>
<hr>

                      <section class="button-container">
                        <a href="#">
                          <button>More Articles</button>
                        </a>
                      </section>
        
                    </div>
    
    
    
        
    

</div>

