.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Initially hide the navbar */
}

.show-navbar {
  display: block; /* Show the navbar when this class is applied */
}


