<div class="div1">

  <div class="div2">
    <div class="div3">
        <h5>METHODOLOGY</h5>
    </div>
    <div class="div4">
        <p class="para">The Forbes World’s Billionaires list is a snapshot of wealth using stock prices and exchange rates from March 8,<br>
            2024. Some people become richer or poorer within days of publication. We list individuals rather than <br>
            multigenerational families who share fortunes, though we include wealth belonging to a billionaire’s spouse and <br>
            children in certain cases, namely if that person is the founder of the fortune. For Russian billionaires, fortunes were <br>
            calculated using ownership structures from February 2022, prior to Russia’s invasion of Ukraine and before many <br>
            made transfers of assets to managers, friends and others in an effort to protect their holdings from sanctions. We <br>
            value a variety of assets, including private companies, real estate, art and more. We don’t pretend to know each <br>
            billionaire’s private balance sheet (though some provide it). When documentation isn’t supplied or available, we <br>
            discount fortunes. For daily updates of net worths, go to <a href="https://www.forbes.com/real-time-billionaires/">forbes.com/real-time-billionaires.</a></p>
    </div>
    <div class="div3">
      <h5>ACKNOWLEDGEMENTS</h5>
    </div>
    <div class="div5">
      <p class="para">Special thanks to Altus Group, Alliance Fund, Benham and Reeves, ApeVue, Caplight Technologies, Center for <br>
        Advanced Defense Studies, Cushman & Wakefield,Euromonitor International, FactSet Research Systems, <br>
        GetAgent.co.uk, IBISWorld, LCH Investments, Moody’s, Notice.co, Orbis by Bureau Van Dijk, Organized Crime and <br>
        Corruption Reporting Project (OCCRP), PitchBook Data, Preqin, Real Capital Analytics, S&P Capital IQ, <br>
        VesselsValue, Weitzman and the other experts who helped us with our reporting and valuations, including Olayinka <br>
        Adesanya, Stanbic IBTC; Chad Anderson, Space Capital; Mike Allen, Zeus Capital; Erik Aspen Fossa, Carnegie; <br>
        Michael Bellisario, Baird; Rajiv Bhatia, Morningstar; Julie Bhusal Sharma, Morningstar; Sebastian Bray, Berenberg; <br>
        Alia Bostaji Colliers; Bryan, Garnier & Co.; John Campbell, Stephens; Hugh Chatham, CFS Jets; Anthony <br>
        Chukumba, Loop Capital; Alejandro Delgado, SiiLA; Rommel Dionisio, Aegis Capital Corp.; Sean Dodge, RBC <br>
        Capital Markets; Nathan Edwards, Cushman & Wakefield; Alex Cogut, Jason Corbett, Rowallan Exclusive Property <br>
        Buying Agents; Michael Costantini, 3CRE; Josh Ein, Matthews REIS; Truman Fleming, Benjamin A. Friedman, <br>
        Abiola Gbemisola, Phil Gibbs, KeyBanc Capital Markets; Seth Goldstein, Morningstar; John Gordon, Pacific <br>
        Management Consulting; Carlos Graces, SiiLA; Keith Housum, Northcoast Research; Robert Iati, Burton-Taylor; <br>
        Daniel Imbro, Stephens; Gregory Kirsch, Kirsch Agency; David Koenig, 526 Media Group; Sebastian Kuenne, RBC; <br>
        Tom Lagos, Institutional Property Advisors; Owen Lau, Oppenheimer & Co.; Gail Lissner; Irene Luke, Savills <br>
        Monaco; Eirik Andreas Lyngestad, DNB Bank; Alan MacKenzie, JLL Canada; Benjamin Maltby, Keystone Law; <br>
        Markus Mayer, Baader Bank; Jack McCabe; John D. McCown, Center for Maritime Strategy; Seth McGowan, Roth <br>
        MKM Partners; Yossi Mimran, Yokra Estate Agency; Nadim Mohamed, SBG Securities; Antonio Morales, Signum <br>
        Research; Oscar Morant, Global Art Classic; Mbongeni Mtimkulu, Peresec; Garrett Nelson, CFRA Research; <br>
        Benjamin Nolan, Stifel; Cozen O’Connor; Leonardo Olmos, UBS; Joel Paige; Pierre Rousseau, Barclays; Silha <br>
        Rasugu, EFG Hermes; Charles Robertson, FIM Partners; Carrie Russell, HVS; C. Patrick Scholes, Truist Securities; <br>
        Chad Schumer, Schumer Bloodstock Agency; Simeon Siegel, BMO Capital Markets; Jeff Silber, BMO Capital <br>
        Markets; Shimon Shkury, Ariel Property Advisors; Gaston Solari, Luca Solca, Bernstein; Brian Sudano, CEO S&D <br>
        Insights; Lisa Summers, SGT Wineries & Vineyards; Tim Swannie, Home Hunts; Douglas B. Taylor; Kathryn <br>
        Thompson, Thompson Research Group; Florent Thy-Tine, Midcap Partners; Navann Ty, BNP Paribas Exane; <br>
        Mustapha Umaru, FCMB Group; Joren van Aken, Degroof Petercam; Floris van Dijkum, Compass Point Research; <br>
        Sanjay Vidyarthi, Liberum; Stephen Volkmann, Jefferies; Jacques Wantz, DLA Piper; Evan Weiss, LW Hospitality <br>
        Advisors; David Whiston, Morningstar; Dr. Viktor Winkler; Jeff Woolson, CBRE; and Kurt Yinger, D.A. Davidson & <br>
        Co.</p>
    </div>

    <div class="div3">
      <h5>CREDITS</h5>
    </div>


    <div class="div6">
      <p class="para"><b>Editors: </b>Grace Chung, Rob LaFranco, Chase Peterson-Withorn</p>
      <p class="para"><b>Country Editors: </b>Russell Flannery, Jane Ho, Naazneen Karmali</p>
      <p class="para"><b>Wealth Team: </b>Richard J. Chang, Kerry A. Dolan, Matt Durot, Annika Grosser, Monica Hunter-Hart, <br>
        John Hyatt, Luisa Kroll, Samantha Kroontje, Sylvan Lebrun, Phoebe Liu, Devin Martin, Jemima McEvoy, Andrea Murphy, <br>
        Segun Olakoyenikan, Hyunsoo Rim, Giacomo Tognini, Natalie Wu, Nicole Xu, Gigi Zamora and reporters at Forbes-<br>
        licensed editions in the Czech Republic, Hungary, Israel, Kazakhstan, Romania, Russia, Slovakia, Ukraine and <br>
        Affärsvärlden of Sweden</p>
      <p class="para"><b>Reporting: </b> Dan Alexander, Sonya Angraini, Anna Bánáti, Nina Bambysheva, Elena Berezanskaya, <br>
        Justin Birnbaum, Ionut Bonoiu, Andreas Bornefeld, Jonathan Burgos, Kenrick Cai, Nilgun Cavdar, Matt Craig, <br>
        David de Jong, Katarzyna Dębek, Marisa Dellatto,Steven Ehrlich, Amy Feldman, Klaus Fiala, Linus Gisborn, <br>
        Konstantin Gnenny, Milán Golovics, Agnes Golya, Gloria Haraito, Joakim Hellquist, Christopher Helman, Alvaro <br>
        Hernandez Zorrilla, Enyi Hu, Max Jedeur-Palmgren, John Kang, Shanshan Kao, Otto Klaar, Sergei Klebnikov, Alex <br>
        Konrad, Zuzana Krajíčková, Zdravko Krstanov, Carl-Johan Kullving, Caroline Le Ridou, Zinnia Lee, Chengbo Liu, <br>
        Anthony Livebrant, Julie Lu, Simone Melvin, Jonathan Moreland, Anis Shakira Mohd Muslimin, Lan Anh Nguyen, <br>
        Cecilia Nikpay, Lucia Okšová, Robert Olsen, Phisanu Phromchanya, Juraj Proubský, Marella Putri, Anu <br>
        Raghunathan, Yessar Rosendar, Leonard Schoenberger, Aidyn Shagiyev, James Simms, Petr Šimůnek, Chloe <br>
        Sorvino, Marine Strauss, Åsa Swee, Jessica Tan, Hank Tucker, Ozer Turan, Simran Vaswani, Catherine Wang, Yue <br>
        Wang, Jennifer Wells, Ardian Wibisono, Will Yakowicz and Itai Zehorai</p>
      <p class="para"><b>Research:</b> Sue Radlauer</p>
      <p class="para"><b>Editorial Operations: </b>Justin Conklin, Francesca Walton</p>
      <p class="para"><b>Creative Director: </b>Alicia Hallett-Chan</p>
      <p class="para"><b>Director of Photography: </b>Robyn Selman</p>
      <p class="para"><b>Art Direction: </b>Charles Brucaliere, Fernando Capeto</p>
      <p class="para"><b>Design: </b>Stephanie Cui, Philip Smith, Yunjia Yuan, Cecilia Zhang</p>
      <p class="para"><b>Photo Research: </b>Gail Toivanen, Amanda Whitlock</p>
      <p class="para"><b>Video: </b>Tim Pierson, Kirsten Taggart, Ivan Clow, Jon Palmer, Chad McClymonds, Lauren Rivera, Michael Swartz, <br>
        Alexis Noriega, Kristin Hunt, Greg Andersson, Bern Osei, Simone Varano, Riley Hallaway, Brian Petchers</p>
      <p class="para"><b>Technical Project Manager: </b>Dania Darwish</p>
      <p class="para"><b>Engineering: </b>Gustavo Faria, Anas Roud, Diab AlSadi, Tay Buley, Ken Barney, Matthew Waldron, Ahmad Alshawakri</p>
      <p class="para"><b>QA: </b>Ronak Ray, Ani Danielyan</p>
      <p class="para"><b>Product Team: </b>Dmitri Slavinsky, Traci Kalamajka</p>
     </div>

  </div>
