
<section class="path"> FORBES > LIFESTYLE > Boats & Planes </section>
<hr>
<div class="mainSection">
    <h1>Boats & Planes</h1>
    <hr>
    <div class="leftSection"> 
        <a href="" class="upButtons"> Editor's Picks </a> <a href="" style="margin-left: 10%;" class="upButtons"> Latest </a>
        <p class="prim">PERMIUM</p>
        <a href="">Boeing’s New Legal Nightmare: Potential Damages Of $235 Million In Trade Secret Case</a>
        <p class="by"> By <a href="">Jabari YoungForbes Staff</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">Why Boeing Needs A New Plane — Soon</a>
        <p class="by"> By <a href="">Simone Melvin</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">Elon Musk May Have Given Up On Privacy For His Jet Travels, But Taylor Swift Fans Haven't</a>
        <p class="by"> By <a href="">ELeslie Katz</a> Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">6 Yachts To Look Forward To At The 2023 Fort Lauderdale International Boat Show</a>
        <p class="by"> By <a href="">Dani Di Placido</a> Senior Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href="">The 5 Largest Superyachts At The Monaco Yacht Show</a>
        <p class="by"> By <a href="">Guy Martin</a>Senior Contributor </p>
        <hr>        
    </div>

     

    <div class="midSection">
        <img [src]="bodyImageURL"><br><br>
        <!--<img src="https://imageio.forbes.com/specials-images/imageserve/65abfe9c4e6890ba98249524/0x0.jpg?format=jpg">-->
        <a href="" class="Ancar-title1"> Inside The $130 Million Superyacht ‘Phoenix II’ ByBill SpringerSenior Contributo </a>
        <p class="by"> By <a href="">Bill SpringerSenior </a>Contributo</p>
        <p class="discription">Based in Lower Manhattan, the ongoing exhibition will not only feature replicas of the anonymous street artist's work but also highlight his connection to the city
        </p>
    </div>

    
    <!--my -->
    <br>
    <div>
        <br><br>
        <table>
            <tr>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/65ac01c7ea8719ac45ccfa7a/0x0.jpg?format=jpg" class="image" /></td>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/65ac004581940083531488e3/0x0.png?format=png&crop=697,392,x0,y92,safe" class="image" /></td>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/65ac021f1e7ba32de3aa9872/0x0.jpg?format=jpg" class="image" /></td>
            </tr>
          
          
        
        <tr><td><a href="#">Wynton Marsalis On Music Education</a></td>
        <td><a href="#">Duke Ellington And More</a></td>
        <td><a href="#">20th BMW Art Car</a></td></tr>
        
        
        
        <tr><td class="by">By <a href="#"> Steve Baltin </a> Senior Contributor</td>
        <td class="by">By <a href="#"> Leslie Katz </a>Contributor</td>
        <td class="by">By <a href="#" >Nargess Banks </a>Senior Contributor </td></tr>
        
      
        </table>


        <div>
            <br><br>
        <h3>More From Boats & Planes </h3>
        <hr>
        </div>
    
        <div>
          <table class="clean-table">
              <tr>
                
                <td class="text">
                  <p class="by">6 hours ago</p>
                  <h3>Visual Inequality: The Tension Between Public Art And Advertising</h3>
                  <p>The tensions and asymmetrical dynamics between art and advertising in public spaces amplifies the economic and social inequities at play.
                   <br><br><p><span class="by">By </span><a href="#">Rebekah Bastian</a> Contributor</p>
                    <br><br>
                        <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td>
               
              
                <td rowspan="2" class="image-cell">
                  <img src="https://imageio.forbes.com/specials-images/imageserve/668679e9461468c37d0ff977/0x0.jpg?format=jpg&crop=1280,600,x0,y259,safe&width=440" class="image2">
  
                </td>
              </tr>
              <tr>
                
                <!--<td>By Jeryl Brunner Contributor</td>-->
              </tr>
            </table>
          </div>
  <hr>
          <div>
              <table class="clean-table">
                  <tr>
                    <td class="text">
                      <p class="by">8 hours ago</p>
                    <h3>  Singer Jewel Enters The Art World With The Portal At Crystal Bridges</h3>
  <p>Jewel may be famous for Pieces of Me, but what is she doing now? Creating space for others through art and wellness.</p>
  <br>
  <p><span class="by">By</span><a href="#"> Alexandra Bregman </a> Contributor</p>
    <br><br>
                        <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td>
                    
                    
                  
                    <td rowspan="2" class="image-cell">
                      <img src="https://imageio.forbes.com/specials-images/imageserve/668574cb2f78c5d5baa8960f/0x0.jpg?format=jpg&crop=1476,829,x0,y31,safe&width=440" class="image2">
      
                    </td>
                  </tr>
                  <tr>
                    
                    <!--<td>By Jeryl Brunner Contributor</td>-->
                  </tr>
                </table>
  
              </div>
  
  <hr>
  
              <div>
                  <table class="clean-table">
                      <tr>
                        <td class="text">
                          <p class="by">9 hours ago</p>
                          <h3>She Found Her Distinct Voice Portraying Nearly 20 Characters In The Play ‘Home’</h3>
                          <p>  Brittany Inge makes her Broadway debut in Samm-Art Williams’ classic play at Roundabout Theatre Company</p>
                           <br> 
                           <p> <span class="by">By</span><a href="#"> Jeryl Brunner</a> Contributor</p>
                           <br><br>
                           <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td>
                        
                      
                        <td rowspan="2" class="image-cell">
                          <img src="https://imageio.forbes.com/specials-images/imageserve/6685600776a8fe7e0b613e45/0x0.jpg?format=jpg&width=440" class="image2">
          
                        </td>
                      </tr>
                      <tr>
                        
                        <!--<td>By Jeryl Brunner Contributor</td>-->
                      </tr>
                    </table>
      
                  </div>
  
  
  
  <hr>
  
  <div>
                  <table class="clean-table">
                      <tr>
                        <td class="text">
                          <p class="by">10 hours ago</p>
                          <h3>Vayder Hires Celebrity Fashion Designer Chaz Jordan As Creative Advisor</h3>
                        <p>  Jordan is known for his luxurious and culturally resonant designs, introducing his inaugural collection for Vayder during an intimate unveiling at Paris Fashion Week.</p>
                         <br> 
                         <p> <span class="by">By</span><a href="#"> Cassell Ferere </a> Contributor</p><br><br>
                          <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td> 
                      
                        <td rowspan="2" class="image-cell">
                          <img src="https://imageio.forbes.com/specials-images/imageserve/668064131710e49157d6a38c/0x0.jpg?format=jpg&width=440" class="image2">
          
                        </td>
                      </tr>
                      <tr>
                        
                        <!--<td>By Jeryl Brunner Contributor</td>-->
                      </tr>
                    </table>
      
                  </div>
  
  <hr>
                  <div>
                      <table class="clean-table">
                          <tr>
                            <p class="by">12 hours ago</p>
                            <td class="text"><h3>Taylor Swift Exhibition To Open At London’s V&A Museum</h3>
                              <p>Taylor Swift | Songbook Trail will run from July 27 through September 8 and will take Swifties on a journey through the singer's childhood and career.
                              <br>
                             <p><span class="by">By </span><a href="#">Emma Kershaw </a>Contributor</p>
                              <br><br>
                              <img src="https://cdn-icons-png.flaticon.com/128/8928/8928242.png" class="imgS"></td>
                            <td rowspan="2" class="image-cell">
                              <img src="https://imageio.forbes.com/specials-images/imageserve/668198bd9c8b5bedbe95fba3/0x0.jpg?format=jpg&width=440" class="image2">
              
                            </td>
                          </tr>
                          <tr>
                            
                            <!--<td>By Jeryl Brunner Contributor</td>-->
                          </tr>
                        </table>
  <hr>
  
                        <section class="button-container">
                          <a href="#">
                            <button>More Articles</button>
                          </a>
                        </section>
          
                      </div>
    

</div>


