<div class="parent">
  <div class="div1">
    <h1 class="featured-articles">Featured Articles</h1>
  </div>
  <div class="child-container1">
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/chasewithorn/2024/04/02/forbes-38th-annual-worlds-billionaires-list-facts-and-figures-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/intro-680x383.jpg" alt="">
        </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/chasewithorn/2024/04/02/forbes-38th-annual-worlds-billionaires-list-facts-and-figures-2024/">
        <h3>Forbes’ 38th Annual World’s <br> Billionaires List: Facts And Figures <br> 2024</h3>
        <p>By Chase Peterson-Withorn</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/segunolakoyenikan/2024/04/02/new-billionaires-2024-taylor-swift-magic-johnson-and-263-others-join-the-ranks-this-year/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/newcomer-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/segunolakoyenikan/2024/04/02/new-billionaires-2024-taylor-swift-magic-johnson-and-263-others-join-the-ranks-this-year/">
        <h3>Newcomers: Christian Louboutin,<br> Magic Johnson, Taylor Swift And 262 Others Join The Ranks</h3>
        <p>By Segun Olakoyenikan</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/monicahunter-hart/2024/03/31/worlds-youngest-billionaires-2024-john-collison-ben-francis-evan-spiegel/">
        <img src="https://images.forbes.com/2024-billionaires-ver3/youngest.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/monicahunter-hart/2024/03/31/worlds-youngest-billionaires-2024-john-collison-ben-francis-evan-spiegel/">
        <h3>The World's Youngest Billionaires</h3>
        <p>By Monica Hunter-Hart</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/hyunsoorim/2024/04/02/the-10-biggest-billionaire-gainers-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver3/gainer.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/hyunsoorim/2024/04/02/the-10-biggest-billionaire-gainers-2024/">
        <h3>Biggest Gainers 2024</h3>
        <p>By Hyunsoo Rim</p>
      </a>
      </div>
    </div>
  </div>
  <div class="child-container2">
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/chasewithorn/2024/04/02/the-100-billion-club-these-14-people-have-12-figure-fortunes/">
        <img src="https://images.forbes.com/2024-billionaires-ver3/1million-club.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/chasewithorn/2024/04/02/the-100-billion-club-these-14-people-have-12-figure-fortunes/">
        <h3>The $100 Billion Club</h3>
        <p>By Chase Peterson-Withorn</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/samanthakroontje/2024/04/02/the-richest-women-in-the-world-francoise_bettencourt-meyers-taylor-swift-alice-walton-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/16x9-richest-women-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/samanthakroontje/2024/04/02/the-richest-women-in-the-world-francoise_bettencourt-meyers-taylor-swift-alice-walton-2024/">
        <h3>The Richest Women In The World</h3>
        <p>By Samantha Kroontje</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/phoebeliu/2024/04/02/the-billionaires-getting-rich-from-ai-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/richest-in-ai-680x383.jpg" alt="">
        </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/phoebeliu/2024/04/02/the-billionaires-getting-rich-from-ai-2024/">
        <h3>These 9 New Billionaires Are Getting <br> Rich Off AI</h3>
        <p>By Phoebe Liu</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/richardjchang/2024/04/02/heres-who-fell-off-forbes-2024-billionaires-list/">
        <img src="https://images.forbes.com/2024-billionaires-ver3/drop-off.jpg" alt="">
        </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/richardjchang/2024/04/02/heres-who-fell-off-forbes-2024-billionaires-list/">
        <h3>These 189 People Dropped Off The Billionaires List This Year</h3>
        <p>By Richard J. Chang</p>
        </a>
      </div>
    </div>
  </div>
  <div class="child-container3">
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/phoebeliu/2024/04/02/the-billionaires-getting-rich-from-ai-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/16x9-richest-in-tech-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/phoebeliu/2024/04/02/the-billionaires-getting-rich-from-ai-2024/">
        <h3>Tech Billionaires Have Added $750 <br> Billion To Their Fortunes</h3>
        <p>By Phoebe Liu</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/devinseanmartin/2024/04/02/the-worlds-celebrity-billionaires-2024-taylor-swift-kim-kardashian-oprah/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/16x9-celebrities-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/devinseanmartin/2024/04/02/the-worlds-celebrity-billionaires-2024-taylor-swift-kim-kardashian-oprah/">
        <h3>The World's Richest Celebrities</h3>
        <p>By Devin Sean Martin</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/johnhyatt/2024/04/02/the-richest-crypto-and-bitcoin-billionaires-in-the-world-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/crypto-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/johnhyatt/2024/04/02/the-richest-crypto-and-bitcoin-billionaires-in-the-world-2024/">
        <h3>Crypto's Big Billionaire Comeback</h3>
        <p>By John Hyatt</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/devinseanmartin/2024/04/02/the-countries-with-the-most-billionaires-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver4/countries-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/devinseanmartin/2024/04/02/the-countries-with-the-most-billionaires-2024/">
        <h3>The Countries With The Most <br> Billionaires</h3>
        <p>By Devin Sean Martin</p>
        </a>
      </div>
    </div>
  </div>
  <div class="child-container4">
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/giacomotognini/2024/04/03/the-worlds-richest-person-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver5/richest-person-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/giacomotognini/2024/04/03/the-worlds-richest-person-2024/">
        <h3>The World's Richest Person</h3>
        <p>By Giacomo Tognini</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/samanthakroontje/2024/04/03/the-richest-woman-in-the-world-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver5/richest-woman-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/samanthakroontje/2024/04/03/the-richest-woman-in-the-world-2024/">
        <h3>The World's Richest Woman</h3>
        <p>By Samantha Kroontje</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/nataliewu/2024/04/03/the-worlds-richest-self-made-women-in-2024-taylor-swift-kim-kardashian-rihanna/">
        <img src="https://images.forbes.com/2024-billionaires-ver5/self-made-women-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
        <a href="https://www.forbes.com/sites/nataliewu/2024/04/03/the-worlds-richest-self-made-women-in-2024-taylor-swift-kim-kardashian-rihanna/">
        <h3>Richest Self-Made Women</h3>
        <p>By Natalie Wu</p>
      </a>
      </div>
    </div>
    <div class="child">
      <div class="div2">
        <a href="https://www.forbes.com/sites/jemimamcevoy/2024/04/06/trust-fund-fortunes-the-worlds-richest-heirs-2024/">
        <img src="https://images.forbes.com/2024-billionaires-ver5/hier-680x383.jpg" alt="">
      </a>
      </div>
      <div class="div3">
      <a href="https://www.forbes.com/sites/jemimamcevoy/2024/04/06/trust-fund-fortunes-the-worlds-richest-heirs-2024/">
        <h3>The Wealthiest Heirs In The World</h3>
        <p>By Jemima McEvoy</p>
      </a>
      </div>
    </div>
</div>
