<!--<div><h1>Forbes<br>
DARK CAPITAL
</h1>
</div>

<hr class="hr">
Forbes’ Dark Capital series explores the intersection of business, wealth and crime. It’s featured on Sundays.
FEATURED STORY
-->
<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Mode Page</title>
    
</head>
<body>
    <div class="space"> <p> " " <br><br></p>  </div>
    <br><br>
   
  <script>
        document.getElementById('toggleTheme').addEventListener('click', function () {
            document.body.classList.toggle('light-mode');
        });
    </script>
<div class="dark">
<h1 class = "title">Forbes<br>
    DARK CAPITAL
    </h1>
</div> 
    <hr class="hr">


  <h3> Forbes’ Dark Capital series explores the intersection of business, wealth <br>and crime. It’s featured on Sundays.
         FEATURED STORY</h3>

<img class= "img11" [src]="bodyImageURL"><br><br>



<div>
        <br><br>
        <table>
            <tr>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/651abe9f2c7428bf0b2a5496/0x0.jpg?format=jpg" class="image" /></td>
              <td><img src="https://imageio.forbes.com/specials-images/imageserve/651abee72c7428bf0b2a5498/0x0.jpg?format=jpg" class="image" /></td>
              
            </tr>
          
          
        
        <tr><td><a href="#">Morgan x Pininfarina Midsummer Is The Perfect Summer Ride</a></td>
        <td><a href="#">BMW Builds An Even Bigger Boxer With The 2,000cc R20 Custom Motorcycle</a></td>
        </tr>
        
        
        
        <tr><td class="by">By <a href="#"> Steve Baltin </a> Senior Contributor</td>
        <td class="by">By <a href="#"> Leslie Katz </a>Contributor</td>
        </tr>
        
      
        </table>
        </div>

   
</body>
</html>
-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Mode Page</title>
    
</head>
<body>

    <br><br>
    <div class="dark">
        <h1 class="title">Forbes<br>DARK CAPITAL</h1>
        
    </div>
<br>
    <hr class="hr">


   

    <div>
        <img class= "img11" [src]="bodyImageURL"><br><br>
    </div>

    <div class="txt">
    <h2>Forbes’ Dark Capital series explores the intersection of business,<br> wealth and crime. It’s featured on Sundays.</h2>
    </div>

    <div class="txt1">
        <h2>Like thousands of other Jewish families throughout Europe, the Deutsch de la Meurthe <br>
            family desperately fled their Paris home to escape the Nazi forces marching toward the city <br>
            during World War II..</h2>
        </div>
    
    <!--<div class="mainContent">-->
        <!--
        <section class="featuredStory">
            <h2 class="sectionTitle">Featured Story</h2>
            <p class="discription">Forbes’ Dark Capital series explores the intersection of business, wealth, and crime. It’s featured on Sundays.</p>
        </section>-->
        <br><br>
        <section class="articles">
            <div class="article">
                <img src="https://media.gettyimages.com/id/1403461181/photo/view-of-businessman-and-forbes-magazine-publisher-malcolm-forbes-and-actor-elizabeth-taylor.jpg?s=612x612&w=0&k=20&c=5UO7ypWwcXS9sKJN-WuJleNmSGq0i3gZtRNzanKAEHE=" alt="Article 1" class="image">
                <div class="text">
                    <h3 class="articleTitle">The Rise of Shadow Banking</h3>
                    <p class="by">By John Doe</p>
                    <p class="prim">Shadow banking is increasingly becoming a critical player in global finance...</p>
                </div>
            </div>
            
            <div class="article">
                <img src="https://media.gettyimages.com/id/736964063/photo/former-us-first-lady-nancy-reagan-and-raisa-gorbachev-wife-of-former-soviet-leader-mikhail.jpg?s=612x612&w=0&k=20&c=4O-5v9ldf-fs-BXvVMA3gclfH6EUxD9PASruqLhU9sA=" alt="Article 2" class="image">
                <div class="text">
                    <h3 class="articleTitle">Cryptocurrency and Dark Money</h3>
                    <p class="by">By Jane Smith</p>
                    <p class="prim">The surge of cryptocurrency usage has brought attention to dark money transfers...</p>
                </div>
            </div>
            
          
        </section>
    <!--</div>-->
    
    
    <section class="articles">
        <div class="article">
            <img src="https://media.gettyimages.com/id/1403461181/photo/view-of-businessman-and-forbes-magazine-publisher-malcolm-forbes-and-actor-elizabeth-taylor.jpg?s=612x612&w=0&k=20&c=5UO7ypWwcXS9sKJN-WuJleNmSGq0i3gZtRNzanKAEHE=" alt="Article 1" class="image">
            <div class="text">
                <h3 class="articleTitle">The Rise of Shadow Banking</h3>
                <p class="by">By John Doe</p>
                <p class="prim">Shadow banking is increasingly becoming a critical player in global finance...</p>
            </div>
        </div>
        
        <div class="article">
            <img src="https://media.gettyimages.com/id/736964063/photo/former-us-first-lady-nancy-reagan-and-raisa-gorbachev-wife-of-former-soviet-leader-mikhail.jpg?s=612x612&w=0&k=20&c=4O-5v9ldf-fs-BXvVMA3gclfH6EUxD9PASruqLhU9sA=" alt="Article 2" class="image">
            <div class="text">
                <h3 class="articleTitle">Cryptocurrency and Dark Money</h3>
                <p class="by">By Jane Smith</p>
                <p class="prim">The surge of cryptocurrency usage has brought attention to dark money transfers...</p>
            </div>
        </div>


        
        
      
    </section>


    <section class="articles">
        <div class="article">
            <img src="https://media.gettyimages.com/id/1403461181/photo/view-of-businessman-and-forbes-magazine-publisher-malcolm-forbes-and-actor-elizabeth-taylor.jpg?s=612x612&w=0&k=20&c=5UO7ypWwcXS9sKJN-WuJleNmSGq0i3gZtRNzanKAEHE=" alt="Article 1" class="image">
            <div class="text">
                <h3 class="articleTitle">The Rise of Shadow Banking</h3>
                <p class="by">By John Doe</p>
                <p class="prim">Shadow banking is increasingly becoming a critical player in global finance...</p>
            </div>
        </div>
        
        <div class="article">
            <img src="https://media.gettyimages.com/id/736964063/photo/former-us-first-lady-nancy-reagan-and-raisa-gorbachev-wife-of-former-soviet-leader-mikhail.jpg?s=612x612&w=0&k=20&c=4O-5v9ldf-fs-BXvVMA3gclfH6EUxD9PASruqLhU9sA=" alt="Article 2" class="image">
            <div class="text">
                <h3 class="articleTitle">Cryptocurrency and Dark Money</h3>
                <p class="by">By Jane Smith</p>
                <p class="prim">The surge of cryptocurrency usage has brought attention to dark money transfers...</p>
            </div>
        </div>


        
        
      
    </section>


    <section class="articles">
        <div class="article">
            <img src="https://media.gettyimages.com/id/1403461181/photo/view-of-businessman-and-forbes-magazine-publisher-malcolm-forbes-and-actor-elizabeth-taylor.jpg?s=612x612&w=0&k=20&c=5UO7ypWwcXS9sKJN-WuJleNmSGq0i3gZtRNzanKAEHE=" alt="Article 1" class="image">
            <div class="text">
                <h3 class="articleTitle">The Rise of Shadow Banking</h3>
                <p class="by">By John Doe</p>
                <p class="prim">Shadow banking is increasingly becoming a critical player in global finance...</p>
            </div>
        </div>
        
        <div class="article">
            <img src="https://media.gettyimages.com/id/736964063/photo/former-us-first-lady-nancy-reagan-and-raisa-gorbachev-wife-of-former-soviet-leader-mikhail.jpg?s=612x612&w=0&k=20&c=4O-5v9ldf-fs-BXvVMA3gclfH6EUxD9PASruqLhU9sA=" alt="Article 2" class="image">
            <div class="text">
                <h3 class="articleTitle">Cryptocurrency and Dark Money</h3>
                <p class="by">By Jane Smith</p>
                <p class="prim">The surge of cryptocurrency usage has brought attention to dark money transfers...</p>
            </div>
        </div>


        
        
      
    </section>



    
   

    


</body>
</html>

